body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: auto;
    width: auto;
}

h2{
    font-size: 30px;
   }

/*section 1 Hello Im */

.hello-im{
    background-image: url(image/header-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}


/*section 2 Biography */

.biography{
    background-image: url(image/biography-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

/* 1st & 2nd section's common style */

.image-width{
    display: flex;
    align-items: center;
}
.half-width{
    width: 40%;
    padding:5%;
    text-align: justify;
}

.half-width>img {
    width: 100%;    
}

.contentme{
    margin-top: 8%;
}

/*section 3 My latest work */

.latest-work {
    background-image: url(image/latest-work-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 10px;
}

.latest-work-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    padding:1%;
    border: 1px red solid;
}

.work-img{
    width: 30%;
    height: auto;
    padding-left:2% ;
}

.work-img:hover{
    cursor: pointer;
    transform: scale(1.05);
}


/*section 4 Client */

.client{
    background-image: url(image/header-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.client p {
    line-height: normal;
    
}

.client-padd1{
    padding: 30px 2px;
}
.client-padd2{
    padding: 10px 2px;
}
.client-padd3{
    padding: 5px 2px;
}

.contact{
    height: auto;
    width: auto;
    background-image:linear-gradient(to right, #ED4B71, #EC4E86);
    border-radius: 20px;
    padding: 1%;
    margin: 1% 15% 1% 15% ;
    color: #ffffff;
    line-height: 1px ;
}

/*section 5 footer */

footer{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: small;
    background-image: url(image/footer-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Common gratients*/

button.shape {
    height: auto;
    width: auto;
    text-transform: uppercase;
    font-weight:900;
    letter-spacing: 1px;
    color: white;
    background: linear-gradient(to right, #FF8E00, #FF1800);
    padding: 8px 15px;
    border-radius: 5px;
    border: transparent;
    margin: 25px 5px 0px 5px;
  }

button.shape:hover {
    background:linear-gradient(to right, #FF1800, #FF8E00);
    cursor: pointer;
    border: transparent;
    transform: scale(1.10);
}

span{
    
    color: #FF8E00;
    font-size: 38px;
}
span:hover{
    color:  #f87408;
    cursor: pointer;
}

.contact:hover{
    background:linear-gradient(to right, #FF1800, #FF8E00);
    color:  #ffffff;
    cursor: pointer;
    transform: scale(1.01);
    font-weight: 700;
}